body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    border: 4px solid black;
    overflow: hidden;
}

.columnHolder {
    flex: 1 1 75%;
    display: flex;
}

.column {
    position: relative;
    flex: 1 1 25%;
    display: flex;
    justify-content: center;
    height: auto;
}