@import url('https://fonts.googleapis.com/css?family=Electrolize|Turret+Road&display=swap');

body {
    font-family: 'Electrolize', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

.score,
.hp,
.countdown {
    font-family: 'Turret Road', cursive;
    text-transform: uppercase;
}

.score,
.hp {
    font-size: 1.8rem;
    font-weight: bold;
    color: greenyellow;
}

a {
    color: inherit;
}