h1 {
    margin-bottom: 0;
}

.status {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score,
.hp {
    margin: 0;
}

.pause {
    position: absolute;
    top: 0;
    right: 5%;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 2px solid white;
    border-radius: 5px;

    i {
        line-height: 50px;
        vertical-align: middle;
    }
}