h1 {
    margin-bottom: 0;

    @media (max-width: 600px) {
        font-size: 1.8rem;
    }
}

.status {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 650px) {
        justify-content: flex-start;
        
        p {
            font-size: 1.8rem;
            margin-left: 50px;
        }
    }
    
    @media (max-width: 500px) {
        p {
            font-size: 1.3rem;
            margin-left: 15px;
        }
    }
}

.score,
.hp {
    margin: 0;
}

.pause {
    position: absolute;
    top: 0;
    right: 5%;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 2px solid white;
    border-radius: 5px;

    i {
        width: 100%;
        line-height: 50px;
    }
}