button {
    background-color: greenyellow;
    font-size: 1.8rem;
    padding: 2px 15px;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 10px;
    text-transform: uppercase;

    &:focus {
        transform: scale(1.1);
        background-color: black;
        color: white;
        box-shadow: 0 0 10px 5px red;
    }
}

.startButtonHard {
    background-color: orange;
}

.startButtonEX {
    background-color: red;
}