.catch {
    flex: 1 1 15%;
    display: flex;
    align-items: center;
    height: auto;
    border-top: 5px solid red;
}

.catchSection {
    flex: 1 1 25%;
    border-radius: 50%;

    i {
        font-size: 70px;
        border-radius: 50%;
    }
}

.pulse-red {
    animation: shadow-pulse-red 0.18s 1;
}

.pulse-green {
    animation: shadow-pulse-green 0.18s 1;
}