.startScreen,
.countScreen,
.endScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    min-width: 300px;
    padding: 20px 10px;
    color: black;
    background-color: whitesmoke;
    border: 5px solid black;
    border-radius: 25px;
    box-shadow: gray 0px 0px 20px 10px;

    p {
        margin: 0;
    }

    ul {
        text-align: left;
    }

    .countdown {
        font-size: 3rem;
        font-weight: bold;
        width: 300px;
    }
}

.countScreen,
.endScreen {
    display: none;
}