.startScreen,
.countScreen,
.endScreen,
.leaderBoardScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    min-width: 300px;
    padding: 20px 10px;
    color: black;
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    border: 5px solid black;
    border-radius: 25px;
    box-shadow: gray 0px 0px 20px 10px;

    p {
        margin: 0;
    }

    ul {
        text-align: left;
    }

    .countdown {
        font-size: 3rem;
        font-weight: bold;
        width: 280px;
    }
}

.leaderBoardFlex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .leaderBoardColumn {
        flex: 0 0 33%;
    }
}

.leaderBoardScreen,
.countScreen,
.endScreen {
    display: none;
}