@import url("https://fonts.googleapis.com/css?family=Electrolize|Turret+Road&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

body {
  font-family: 'Electrolize', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white; }

.score,
.hp,
.countdown {
  font-family: 'Turret Road', cursive;
  text-transform: uppercase; }

.score,
.hp {
  font-size: 1.8rem;
  font-weight: bold;
  color: greenyellow; }

a {
  color: inherit; }

body {
  background-image: url(../assets/background.jpg);
  margin: 0;
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: 450px;
          perspective: 450px; }
  @media (max-width: 500px) {
    body {
      height: 90vh; } }

@media (max-width: 500px) {
  .mobileHide {
    display: none; } }

.relative {
  position: relative; }

.container {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 80%;
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotateX(5deg);
          transform: rotateX(5deg);
  overflow: hidden; }

.columnHolder {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 85%;
          flex: 1 1 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.column {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto; }

@-webkit-keyframes shadow-pulse-red {
  0% {
    -webkit-box-shadow: 0 0 0 0px red;
            box-shadow: 0 0 0 0px red;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 50px rgba(255, 0, 0, 0);
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes shadow-pulse-red {
  0% {
    -webkit-box-shadow: 0 0 0 0px red;
            box-shadow: 0 0 0 0px red;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 50px rgba(255, 0, 0, 0);
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes shadow-pulse-green {
  0% {
    -webkit-box-shadow: 0 0 0 0px lime;
            box-shadow: 0 0 0 0px lime;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(0, 255, 0, 0);
            box-shadow: 0 0 0 50px rgba(0, 255, 0, 0);
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes shadow-pulse-green {
  0% {
    -webkit-box-shadow: 0 0 0 0px lime;
            box-shadow: 0 0 0 0px lime;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(0, 255, 0, 0);
            box-shadow: 0 0 0 50px rgba(0, 255, 0, 0);
    -webkit-transform: scale(1);
            transform: scale(1); } }

h1 {
  margin-bottom: 0; }

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 650px) {
    .status {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .status p {
        font-size: 1.8rem;
        margin-left: 50px; } }
  @media (max-width: 500px) {
    .status p {
      font-size: 1.3rem;
      margin-left: 15px; } }

.score,
.hp {
  margin: 0; }

.pause {
  position: absolute;
  top: 0;
  right: 5%;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 2px solid white;
  border-radius: 5px; }
  .pause i {
    width: 100%;
    line-height: 50px; }

.arrow {
  position: absolute;
  top: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px; }
  .arrow i {
    font-size: 50px; }

.catch {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  border-top: 5px solid red; }

.catchSection {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  border-radius: 50%; }
  .catchSection i {
    font-size: 70px;
    border-radius: 50%; }

.pulse-red {
  -webkit-animation: shadow-pulse-red 0.18s 1;
          animation: shadow-pulse-red 0.18s 1; }

.pulse-green {
  -webkit-animation: shadow-pulse-green 0.18s 1;
          animation: shadow-pulse-green 0.18s 1; }

.startScreen,
.countScreen,
.endScreen,
.leaderBoardScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 20;
  min-width: 300px;
  padding: 20px 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  border: 5px solid black;
  border-radius: 25px;
  -webkit-box-shadow: gray 0px 0px 20px 10px;
          box-shadow: gray 0px 0px 20px 10px; }
  .startScreen p,
  .countScreen p,
  .endScreen p,
  .leaderBoardScreen p {
    margin: 0; }
  .startScreen ul,
  .countScreen ul,
  .endScreen ul,
  .leaderBoardScreen ul {
    text-align: left; }
  .startScreen .countdown,
  .countScreen .countdown,
  .endScreen .countdown,
  .leaderBoardScreen .countdown {
    font-size: 3rem;
    font-weight: bold;
    width: 280px; }

.leaderBoardFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 50px; }
  .leaderBoardFlex .leaderBoardColumn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    margin: 0 10px; }
    .leaderBoardFlex .leaderBoardColumn ol {
      padding: 0;
      text-align: left;
      list-style: none; }

.leaderBoardScreen,
.countScreen,
.endScreen {
  display: none; }

.leaderBoardScreen h2 {
  margin: 0 auto; }

.leaderBoardScreen h3 {
  font-size: 18px; }

button {
  background-color: greenyellow;
  font-size: 1.8rem;
  padding: 2px 15px;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 10px;
  text-transform: uppercase; }
  button:focus {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: black;
    color: white;
    -webkit-box-shadow: 0 0 10px 5px red;
            box-shadow: 0 0 10px 5px red; }

.startButtonHard {
  background-color: orange; }

.startButtonEX {
  background-color: red; }

.leaderBoardButton {
  color: black;
  font-weight: 800;
  font-size: 1.4rem;
  padding: 5px 5px; }
  @media (max-width: 500px) {
    .leaderBoardButton {
      min-width: 90%; } }
